# Mac Stuff
*.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# C++ Stuff
*.slo
*.lo
*.o
*.obj
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

